body {
  background-color: powderblue;
}
@media only screen and (min-width: 992px) {
  body {
    background-color: green;
  }

.col-1 {width: 33.33%;}
.col-2 {width: 33.33%;}
.col-3 {width: 33.33%;}
}
@media only screen and (min-width: 768px and max-width: 991px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 767px) {
  [class*="col-"] {
    width: 100%;
  }
}


#box {
  width: 500px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
h1 {
  color: blue;
}
p {
  color: red;
}
